<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.dict.mapper.RrmDictTypeMapper">

    <select id="selectDictTypePage" resultType="com.rrm.module.dict.domain.vo.RrmDictTypeVO">
        with tmp as (
            select count(*) as entryCount, type_code from rrm_dict_entry group by type_code
        )
        select a.id, a.type_code, a.type_name, a.description,
               COALESCE((select entryCount from tmp t where t.type_code = a.type_code),0) as entryCount
        from rrm_dict_type a
        <where>
            a.item_code = #{dto.itemCode}
            <if test="dto.typeName != null and dto.typeName != ''">
                a.type_name like concat('%',#{dto.typeName},'%')
            </if>
        </where>
        order by a.updated_at desc
    </select>

    <select id="countByTypeCodeAndItemCode" resultType="java.lang.Integer">
        select count(*) as cnt from rrm_dict_type where type_code = #{typeCode} and item_code = #{itemCode}
    </select>
</mapper>