<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.item.mapper.RrmItemMapper">

    <select id="getItemAll" parameterType="java.lang.Integer"
            resultType="com.rrm.module.item.domain.vo.RrmItemVO">
        select id,item_name,item_code,created_at,user_id from rrm_item
    </select>

    <select id="countByItemCode" resultType="java.lang.Integer">
        select count(*) as cnt from rrm_item where item_code = #{itemCode}
    </select>
</mapper>