<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.role.mapper.RrmRoleMapper">

    <select id="selectRoleByItemCodeOrId" resultType="com.rrm.module.role.domain.vo.RrmRoleVO">
        select a.*, d.entry_name as typeName, d2.entry_name as terminalName, d3.entry_name as netTypeName,
        (select count(*) from rrm_role_menu m where a.id = m.role_id and m.type = '01') as bindMenuCount,
        (select count(*) from rrm_role_menu m where a.id = m.role_id and m.type = '02') as bindElementCount
        from rrm_role a
        join rrm_dict_entry d on a.type = d.entry_code and d.status = 1 and d.type_code = 'dic_role_type'
        join rrm_dict_entry d2 on a.terminal = d2.entry_code and d2.status = 1 and d2.type_code = 'dic_terminal'
        join rrm_dict_entry d3 on a.net_type = d3.entry_code and d3.status = 1 and d3.type_code = 'dic_net_type'
        <where>
            a.item_code = #{itemCode}
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
        </where>
    </select>

    <select id="getUsersBindRole" resultType="com.rrm.module.role.domain.vo.RrmRoleVO">
        select a.*, d.entry_name as typeName from rrm_role a
        join rrm_dict_entry d on a.type = d.entry_code and d.status = 1 and d.type_code = 'dic_role_type'
        join rrm_users_role b on a.id = b.role_id
        <where>
            b.users_id = #{usersId} and b.org_id = #{orgId}
        </where>
    </select>
</mapper>