<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.resource.mapper.RrmResourceMapper">

    <select id="searchResourcePage" resultType="com.rrm.module.resource.domain.vo.RrmResourceVO">
        select a.*, rde.entry_name as resource_type_name, rde2.entry_name as environment_name, rde3.entry_name as auth_code_name from rrm_resource a
        left join rrm_dict_entry rde on a.resource_type = rde.entry_code and rde.type_code = 'dic_res_type' and rde.status = 1
        left join rrm_dict_entry rde2 on a.environment = rde2.entry_code and rde2.type_code = 'dic_res_environment' and rde2.status = 1
        left join rrm_dict_entry rde3 on a.auth_code = rde3.entry_code and rde3.type_code = 'dic_res_auth_code' and rde3.status = 1
        <where>
            a.item_code = #{dto.itemCode}
            <if test="dto.serviceName != null and dto.serviceName != ''">
                and a.service_name = #{dto.serviceName}
            </if>
            <if test="dto.className != null and dto.className != ''">
                and a.class_name like concat('%',#{dto.className},'%')
            </if>
            <if test="dto.resourceName != null and dto.resourceName != ''">
                and a.resource_name like concat('%',#{dto.resourceName},'%')
            </if>
            <if test="dto.requestMethod != null and dto.requestMethod != ''">
                and a.request_method = #{dto.requestMethod}
            </if>
            <if test="dto.resourceType != null and dto.resourceType != ''">
                and a.resource_type = #{dto.resourceType}
            </if>
            <if test="dto.authCode != null and dto.authCode != ''">
                and a.auth_code = #{dto.authCode}
            </if>
            <if test="dto.environment != null and dto.environment != ''">
                and a.environment = #{dto.environment}
            </if>
            <if test="dto.status != null">
                and a.status = #{dto.status}
            </if>
        </where>
    </select>

    <select id="getMenuBindResource" parameterType="java.lang.String" resultType="com.rrm.module.resource.domain.vo.RrmResourceVO">
        select a.*, rde.entry_name as resource_type_name, rde2.entry_name as environment_name, rde3.entry_name as auth_code_name from rrm_resource a
        join rrm_menu_resource b on a.id = b.resource_id
        left join rrm_dict_entry rde on a.resource_type = rde.entry_code and rde.type_code = 'dic_res_type' and rde.status = 1
        left join rrm_dict_entry rde2 on a.environment = rde2.entry_code and rde2.type_code = 'dic_res_environment' and rde2.status = 1
        left join rrm_dict_entry rde3 on a.auth_code = rde3.entry_code and rde3.type_code = 'dic_res_auth_code' and rde3.status = 1
        <where>
            b.menu_id = #{menuId}
        </where>
    </select>

    <select id="countMenuBindResource" resultType="java.lang.Integer">
        select count(*) as cnt from rrm_resource a
        join rrm_menu_resource b on a.id = b.resource_id
        <where>
            b.menu_id = #{menuId}
        </where>
    </select>

    <select id="getServiceNameList" resultType="java.lang.String">
        select distinct service_name from rrm_resource where item_code = #{itemCode}
    </select>

    <select id="getPackageNameList" resultType="java.lang.String">
        SELECT distinct CONCAT_WS('.', service_name, package_name) AS result FROM rrm_resource where item_code = #{itemCode}
    </select>

</mapper>