<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.role.mapper.RrmRoleMapper">

    <select id="searchRolePage" resultType="com.rrm.module.role.domain.model.RrmRole">
        select * from rrm_role
        <where>
            item_code = #{dto.itemCode}
            <if test="dto.name != null and dto.name != ''">
                name like concat('%',#{dto.name},'%')
            </if>
        </where>
    </select>

    <select id="getUsersBindRoleByUserId" resultType="com.rrm.module.role.domain.model.RrmRole">
        select a.* from rrm_role a
        join rrm_users_role b on a.id = b.role_id
        <where>
            b.users_id = #{usersId}
        </where>
    </select>
</mapper>