<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.user.mapper.RrmUserMapper">

    <update id="updatePassword">
        update rrm_user set password = #{password} where id = #{id}
    </update>

    <update id="updateUserDescription">
        update rrm_user set description = #{description} where id = #{id}
    </update>

    <select id="getAllUser" resultType="com.rrm.module.user.domain.vo.RrmUserVO">
        select id, username, description, created_by from rrm_user
    </select>

    <select id="getAllUser2" resultType="com.rrm.module.user.domain.model.RrmUser">
        select id, username, description from rrm_user
    </select>
</mapper>