<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.users.mapper.RrmUsersRoleMapper">

    <insert id="batchInsert" parameterType="com.rrm.module.users.domain.model.RrmUsersRole">
        INSERT INTO rrm_users_role (
        id,users_id,org_id,role_id, created_by,created_at,item_code
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},#{item.usersId},#{item.orgId}, #{item.roleId}, #{item.createdBy}, #{item.createdAt}, #{item.itemCode}
            )
        </foreach>
    </insert>

    <delete id="deleteByUsersId" parameterType="java.lang.String">
        delete from rrm_users_role where users_id = #{usersId} and org_id not in (
            select org_id from rrm_users_org where users_id = #{usersId}
        )
    </delete>

    <delete id="deleteByOrgId" parameterType="java.lang.String">
        delete from rrm_users_role where org_id = #{orgId}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.String">
        delete from rrm_users_role where role_id = #{roleId}
    </delete>

</mapper>