<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.users.mapper.RrmUsersMapper">

    <select id="searchUsersPage"
            parameterType="com.rrm.module.users.dto.RrmUsersDTO"
            resultType="com.rrm.module.users.domain.vo.RrmUsersVO">
        select a.* from rrm_users a
        <where>
            a.item_code = #{dto.itemCode}
        </where>
    </select>

    <select id="checkUsername" resultType="java.lang.Integer">
        select count(*) from rrm_users
        <where>
            item_code = #{itemCode} and username = #{username}
            <if test="id != null">
                id != #{id}
            </if>
        </where>
    </select>
</mapper>