<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrm.module.user.mapper.RrmUserMapper">

    <update id="updatePassword">
        update rrm_user set password = #{password} where id = #{id}
    </update>

    <update id="updateUserDescription">
        update rrm_user set description = #{description} where id = #{id}
    </update>

    <select id="getAllUser" resultType="com.rrm.module.user.domain.vo.RrmUserVO">
        select a.id, a.username, a.description, a.created_by, a.created_at, b.username as created_username from rrm_user a
        left join rrm_user b on a.created_by = b.id
    </select>

    <select id="getAllUser2" resultType="com.rrm.module.user.domain.model.RrmUser">
        select id, username, description from rrm_user
    </select>
</mapper>